<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
      layout:decorate='~{layouts/layout1}'>


<div layout:fragment="content">

    <!-- Single Page Header start -->
    <div class="container-fluid page-header py-5">
        <h1 class="text-center text-white display-6">영화관련기사</h1>
        <ol class="breadcrumb justify-content-center mb-0">
            <li class="breadcrumb-item"><a href="/">메인으로 돌아가기</a></li>
            <li class="breadcrumb-item"><a href="/article/list">기사리스트</a></li>
        </ol>
    </div>
    <!-- Single Page Header End -->

    <div class="container-fluid fruite py-5">
        <div class="container py-5">
            <div class="row g-4">
                <div class="col-lg-12">
                    <!--    전체부분 -->
                    <div class="row g-4">
                        <!--   왼쪽 사이드 조정크기 -->
                        <div class="col-lg-3">
                            <div class="row g-4">

                        <!--  왼쪽 기사리스트 영역-->
                                <div class="col-lg-12">
                                    <div class="mb-3">
                                        <h4>기사 목록</h4>
                                        <ul class="list-unstyled" th:each="article : ${articles}">
                                            <li>
                                                <div class="d-flex justify-content-between fruite-name">
                                                    <a th:href="'/articles/' + ${article.articleid}">
                                                        <i th:text="${article.articleHeading}"></i></a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!--end of 기사리스트 -->
                            </div>
                        </div>
                        <!-- end of  <div class="col-lg-3">-->

                        <div class="col-lg-9">
                            <div class="row g-4 justify-content-center">
                                <div class="row g-4" th:object="${articleDTO}">
                                    <div class="col-lg-10">
                                        <h1 th:text="${articleDTO.articleHeading}"></h1>
                                        <div class="border rounded">
                                            <img th:src="${articleDTO.articleImageUrl}" class="img-fluid rounded" style="width: 800px" alt="Image">

                                        </div>
                                    </div>
                                    <div class="col-lg-10">
                                        <h4 class="mb-3" th:text="${articleDTO.articleSubHeading}"></h4>
                                        <p class="mb-3" th:text="${articleDTO.articleContent}"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end of row- g4-->
                </div>
                <!--     end of   col-lg-12">-->
            </div>
        </div>
    </div>
</div>
    <!-- Single Product End -->
</html>